### API


#### What is API

API stands for **Application Programming Interface**. An API is a software intermediary that allows two applications to talk to each other.  In other words, an API is the messenger that delivers your request to the provider that you’re requesting it from and then delivers the response back to you.

#### How do APIs work?
Imagine a waiter in a restaurant.  You, the customer, are sitting at the table with a menu of choices to order from, and the kitchen is the provider who will fulfill your order.

You need a link to communicate your order to the kitchen and then to deliver your food back to your table. It can’t be the chef because she’s cooking in the kitchen. You need something to connect the customer who’s ordering food and the chef who prepares it.  That’s where the **waiter** — or the **API** —  enters the picture.

The waiter takes your order, delivers it to the kitchen, telling the kitchen what to do. It then delivers the response, in this case, the food, back to you. Moreover, if the API is designed correctly, hopefully, your order won’t crash!

#### A real example of an API

How are APIs used in the real world? Here’s a very common scenario of the API economy at work: booking a flight.

When you search for flights online, you have a menu of options to choose from. You choose a departure city and date, a return city and date, cabin class, and other variables like your meal, your seat, or baggage requests.

To book your flight, you need to interact with the airline’s website to access the airline’s database to see if any seats are available on those dates, and what the cost might be based on the date, flight time, route popularity, etc.

You need access to that information from the airline’s database, whether you’re interacting with it from the website or an online travel service that aggregates information from multiple airlines. Alternatively, you might be accessing the information from a mobile phone. In any case, you need to get the information, and so the application must interact with the airline’s API, giving it access to the airline’s data.

**APIs provide a standard way of accessing any application data, or device**

In [3]:
import pandas_datareader as pdr
pd = pdr.get_data_fred('GS10')
pd.head()

            GS10
DATE
2015-08-01  2.17
2015-09-01  2.17
2015-10-01  2.07
2015-11-01  2.26
2015-12-01  2.24

#### Data from FRED St.Louis

In [4]:
import pandas_datareader.data as web
import datetime
start = datetime.datetime(2015,1,1)
end = datetime.datetime(2020,1,1)
gdp = web.DataReader('GDP', 'fred', start, end)
gdp.head()

                  GDP
DATE
2015-01-01  17984.178
2015-04-01  18219.405
2015-07-01  18344.713
2015-10-01  18350.825
2016-01-01  18424.283